
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.main-content {
    flex-grow: 1;
    
}
/* change */
footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 500px;
    padding: 16px 0;
    clear: both;
    margin-right: 400px;
}
header {
    margin-top: 16px;
    margin-bottom: 48px;
}
h1 {
    font-size: 64px;
    margin-bottom: 16px;
}
header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.portrait {
    width: 250px;
}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
    <link rel="stylesheet" type="text/css" href="../views/styles/styles.css">
    
</head>
<body>

    <div class="main-content">
        <p><%= name %></p>

</body>
</html>